.container {
  width: 600px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 20px;
}

.search {
  width: 600px;
}

.footer {
  margin: 30px;
}

.link {
  padding: 0 5px;
}

.form-control {
  text-align: center;
}

.example {
  margin: -10px 0;
}

.example::first-letter {
  text-transform: capitalize;
}

.word {
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.word::first-letter {
  text-transform: capitalize;
}

.synonyms-word {
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.main-meaning {
  background: rgb(245, 245, 245, 0.7);
  border-radius: 5px;
  padding: 3px;
}

.audio {
  padding: 15px 15px;
  border-radius: 100px;
  border: none;
  position: relative;
  font-size: 16px;
  margin: 10px 0 5px;
}

.phonetic-word {
  font-family: "Montserrat", sans-serif;
}

.h3 {
  font-family: "Oswald", sans-serif;
}

.photo {
  margin: 20px 0;
}

img {
  border-radius: 20px;
}

.footer {
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
}
